body { 
    background:#000;
    color:#00eaff;
    font-family: Arial; 
    text-align:center;
}
.menu button{
    margin:10px;
    padding:10px 20px;
    background:#003b4d;
    color:#00eaff;
    border:1px solid #00eaff;
    cursor:pointer;
}
