@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-sentinel-dark text-white font-sans animate-glow;
  background-image: theme('backgroundImage.sentinel-gradient');
  background-size: cover;
  background-attachment: fixed;
}
